*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgba(229, 229, 229, 0.34);
}

.header-section .nav-bg{
    background-color: #8E73BE;
}

.header-section .navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}


.header-section .navbar-brand{
    margin-right: 80px;
    color: #ffffff;
}

.header-section .navbar-brand:hover{
    color: #ffffff;
}

.header-section .navbar-light .navbar-toggler{
    border-color: #fff;
    color: #fff;
}

.header-section .nav-link {
    display: block;
    padding: 12px 15px !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: white !important;
    font-weight: 400;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    letter-spacing: normal;
}


.header-section .dropdown-toggle::after {
    display: inline-block;
    margin-left: .1em;
    vertical-align: unset;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    margin-bottom: 2px;
}


.header-section .nav-link:hover {
    background-color: #A58CD2;
}


.header-section .dropdown-item {
    display: block;
    width: 100%;
    padding: .10rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    font-size: 14px;
}



.header-section .dropdown-menu {
    border-radius: unset;
    border: 0.5px solid rgba(192, 192, 192, 0.67);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(143,143,143,1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(143,143,143,1);
    box-shadow: 0px 2px 5px 0px rgba(143,143,143,1);
}


.header-section .btn-trasparent{
    background-color: transparent;
    border: transparent;
}

.header-section .btn-trasparent i{
    color: #fff;
    font-size: 21px;
    margin-top: 5px;
}

.header-section .btn-trasparent .bg-secondary{
    background-color: #00A09D !important;
}

.header-section .user-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.header-section .user-circle img{
    width: 30px;
    height: 30px;
}

.header-section .setting-link{
    padding: 0px 20px !important;
    padding-top: 7px !important;
}

.header-section .setting-link span{
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
    padding-left: 9px;
}


.header-section .setting-header-container .dropdown-toggle::after {
    display: none;
}

.header-section .header-right-submenu{
    width: 250px;
}

.header-section .header-right-submenu a{
    font-size: 14px;
}

.header-section .right-submenu-header{
    font-size: 16px !important;
    background-color: #F5F7FD;
    font-family: 'Roboto', sans-serif !important;
    padding: 7px;
    color: #5B5B5B;
}

.isocial-filter-section {
    padding: 30px 0px;
}


.isocial-body-section{
    background-color: #ffffff;
    /*padding: 10px 10px;*/
    box-sizing: border-box;
    border-top: 0.5px solid silver;
    border-bottom: 0.5px solid silver;
}

.isocial-body-section .table-design{
    font-size: 12px;
    color: black;
    font-family: 'Roboto', sans-serif !important;
    width: 100%;
}

.isocial-body-section .table-design thead{
    border-bottom: 0.5px solid #e7e7e7;
}

.isocial-body-section .table-design thead tr,th{
    padding: 10px;
    vertical-align: middle;
    color: #666666;
}

.isocial-body-section .table-design tbody tr{
    border-bottom: 0.5px solid #ededed;
    vertical-align: middle;
}

.isocial-body-section .table-design tbody tr,td{
    padding: 5px 10px;
    vertical-align: middle;
    color: #666666;
}

.isocial-body-section .table-design tbody tr:hover{
    background-color: #f7f7f7;
}
.isocial-body-section .icon-check{
    color: #00A09D;
}

.isocial-body-section .table-design tr:nth-child(even) {
    background-color: #fcfcfc;
}

.isocial-body-section .circle-btn{
    background-color: #F0FBFF;
    color: #8E73BE;
    padding: 5px 5px;
    border-radius: 50%;
    border:none;
    font-size: 14px;
    box-sizing: border-box;
}

.isocial-body-section .table-icon-design{
    color: #8E73BE;
    font-size: 15px;
}

.isocial-filter-section .btn-filter{
    background-color: #8E73BE;
    padding: 6px 20px;
    font-size: 14px;
    border: 0.5px solid #8E73BE;
    color: #ffffff;
}

.isocial-filter-section .btn-filter:hover{
    opacity: 0.7;
}


.isocial-filter-section .btn-create{
    background-color: #00A09D;
    padding: 6px 20px;
    font-size: 14px;
    border: 0.5px solid #00A09D;
    color: #ffffff;
}

.isocial-filter-section .btn-create:hover{
    opacity: 0.7;
}

.isocial-filter-section .search{
    width: 100%;
    padding: 7px 42px;
    background-color: #E9E6EE;
    border-radius: 24px;
    border: none;
    background-image: url("../../../images/search.png");
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 20px;
    color: #666666;
}
.isocial-filter-section .search:focus{
    border: none !important;
    outline: unset;
}



.isocial-filter-section .date-range-picker{
    width: 100%;
    padding: 7px 42px;
    background-color: #E9E6EE;
    border-radius: 24px;
    border: none;
    background-image: url("../../../images/calendar.png");
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 20px;
    color: #666666;
}
.isocial-filter-section .date-range-picker:focus{
    border: none !important;
    outline: unset;
}


/**************************************
* start Login Page
****************************************/
.login-page-container{
    background: #F4ECFF;
    min-height: 100vh;
}

.login-section{
    border: 0.5px solid silver;
    min-height: 400px;
    background: #FFFFFF;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 90px;
}

.login-section .left-section{
    background: #6437A3;
    min-height: 400px;
    box-sizing: border-box;
    padding: 20px 30px;
    padding-bottom: 50px;
}

.login-section .left-section h4{
    color: #FFFFFF;
    font-size: 17px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif !important;
    margin-bottom: 0px;
}

.login-section .left-section p{
    font-size: 13px;
    color: white;
    font-weight: 300;
    margin-bottom: 0px;
    padding: 5px 0px;
}

.login-section .left-section h5{
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif !important;
}

.login-section .left-section img{
    max-height: 250px;
    height: 250px;
    margin: 0px auto;
    display: block;
    margin-top: 45px;

}

.login-section .login-form{
    box-sizing: border-box;
    padding: 40px;
}

.login-section .login-form label{
    color: #444B59;
    font-size: 13px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif !important;
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.login-section .login-form input[type="text"],input[type="password"]{
    width: 100%;
    border: 0.5px solid #A58CD2;
    border-radius: 30px;
    padding: 8px 20px;
    margin-bottom: 20px;
    font-size: 12px;
}

.login-form input[type="text"]:focus{
    outline: none;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(9,83,230,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(9,83,230,1);
    box-shadow: 0px 0px 1px 0px rgba(9,83,230,1);
}

.login-form input[type="password"]:focus{
    outline: none;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(9,83,230,1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(9,83,230,1);
    box-shadow: 0px 0px 1px 0px rgba(9,83,230,1);
}


.login-form button{
    width: 100%;
    font-size: 14px;
    border: 0.5px solid #8E73BE;
    border-radius: 30px;
    padding: 7px 20px;
    background: #8E73BE;
    margin-top: 30px;
    color: #FFFFFF;
    transition: all 0.5s ease 0s;
}

.login-form button:hover{
    background: #6437A3;
    transition: all 0.5s ease 0s;
}




.login-section .right-section p{
    font-size: 12px;
    color: #444B59;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0px;
    /*padding: 5px 0px;*/
}

.login-section .right-section h5{
    color: #444B59;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif !important;
}

.hidden-show-icon{
    position: relative;
    overflow: hidden;
    min-height: 50px;
}

.hidden-show-icon input{
    position: absolute;
    z-index: 100;
}

.hidden-show-icon .passwordIcon{
    display: inline-block;
    position: absolute;
    right: 14px;
    z-index: 200;
    top: 8px;
    font-size: 13px;
    color: #A58CD2;
    cursor: pointer;
}



.forget-password{
    font-size: 11px;
    float: right;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif !important;
    color: #444B59;
    text-decoration: none;
}

.remember{
    float: left;
    letter-spacing: 1px !important;
}


.no-padding{
    padding: 0px;
}


.wmm-product-order-btn{
    background-color: #8E73BE;
    color: #FFFFFF;
}

.wmm-product-order-circle{
    border-radius: 50% !important;
    width: 25px !important;
    height: 25px !important;
    font-size: 14px;
    padding: 2px;
    box-sizing: border-box;
}

.wmm-product-order-circle-input{
    border: none;
    text-align: center;
    font-size: 18px;
    width: 120px;
}

.wmm-product-order-circle-input:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.unit-selector-design{
    padding: 5px 12px;
    background-color: #E9E6EE;
    border-radius: 5px;
    border: none !important;
    background-size: 20px;
    color: #666666;
    width: 120px;
}

.unit-selector-design:focus{
    outline: none !important;
}



.selectize-input {
    border: none !important;
    border-bottom: 1px solid #9E9E9E !important;
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: unset !important;
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%); */
    border-radius: 0px;
    background: transparent !important;
}

.selectize-input, .selectize-control.single .selectize-input.input-active {
    background: transparent !important;
    cursor: text !important;
    display: inline-block !important;
}

.selectize-input.full {
    background-color: transparent !important;
}


.btn-checkout{
    background-color: #8E73BE;
    padding: 6px 20px;
    font-size: 14px;
    border: 0.5px solid #8E73BE;
    color: #ffffff;
}





